{% extends "bootstrap/base.html" %}
{% block title %}Scoreboard{% endblock %}

{% import "bootstrap/utils.html" as utils %}

{% block styles -%}
{{super()}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet"/>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/scoreboard.css') }}"/>
{% endblock styles %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="{{ url_for('show_index') }}">
	<span class="text-primary">Scoreboard</span>
      </a>
      <li>
	<a href="{{ url_for('show_games') }}">Games</a>
      </li>
      <li>
	<a href="{{ url_for('show_players') }}">Players</a>
      </li>
    </ul>
  </div>
</nav>
<div class="titlebar bg-primary">
  <div class="container">
    {% block titlebar %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block body %}
{{super()}}
{% block footer %}
<footer class="footer">
  <div class="container">
    <div class="text-muted small text-center">
      <div class="v-align">
      Fork on <a href="https://github.com/JamesLaverack/scoreboard">GitHub</a>. Created by James Laverack.
      </div>
    </div>
  </div>
</footer>
{% endblock %}
{% endblock %}
