{% extends "base.html" %}

{% block title %}
{{super()}} - {{ gamename }}
{% endblock %}

{% block titlebar %}
<h1>{{ gamename }}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Recent Scores</h3>
    </div>
    {% if scores|length >0 %}
    <table class="table">
      <tr>
	<th>Winner</th>
	<th>Loser</th>
      </tr>
      {% for score in scores %}
      <tr>
	<td>{{ score['winner_name'] }}</td>
	<td>{{ score['loser_name'] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="panel-body">
      No recent scores. =(
    </div>
    {% endif %}
    <div class="panel-footer">
      <a href="{{ url_for('show_submit_score', gamename=gamename) }}" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit Score</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Leaderboard</h3>
    </div>
    {% if leaderboard|length > 0 %}
    <table class="table">
      <tr>
	<th>Rank</th>
	<th>Player</th>
      </tr>
      {% for rank in leaderboard %}
      {% if rank['rank'] < 4 %}
			   <tr>
			     <td>{{ rank['rank'] }}</td>
			     <td>{{ rank['name'] }}</td>
			   </tr>
			   {% endif %}
			   {% endfor %}
    </table>
    {% else %}
    <div class="panel-body center-text">
      There are no ranked players for {{ gamename }}.
    </div>
    {% endif %}
    <div class="panel-footer">
      <a href="{{ url_for('show_leaderboard', gamename=gamename) }}" class="btn btn-default"><i class="fa fa-th-list"></i> Full Leaderbaoard</a>
    </div>
  </div>

</div>
{% endblock %}
