{% extends "base.html" %}

{% block title %}
{{super()}} - Submit Score
{% endblock %}

{% block content %}
<div class="container">
  <h1>Submit score for game {{ gamename }}.</h1>

  <form method="post">
    <div class="form-group">
      <label for="winnerName">Winner</label>
      <input type="text" class="form-control" id="winnerName" name="winnerName" placeholder="Winner">
    </div>
    <div class="form-group">
      <label for="loserName">Loser</label>
      <input type="text" class="form-control" id="loserName" name="loserName" placeholder="loser">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}
