{% extends "base.html" %}

{% block title %}
{{super()}} - Submit Score
{% endblock %}

{% block titlebar %}
<h1>Submit Score for {{ game_name }}</h1>
{% endblock %}

{% block styles %}
{{super()}}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/submit.css') }}"></link>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    <div style="text-align: center;">
      <p class="huge-text">
	Hey, did you hear that 
	<input type="text" class="form-control player-list" id="winnerName" name="winner_name" placeholder="Winner" autocomplete="off">
	just destroyed
	<input type="text" class="form-control player-list" id="loserName" name="loser_name" placeholder="Loser" autocomplete="off">
	at {{ gamename }}?
      </p>
    </div>
    <button type="submit" class="btn btn-success pull-right">Tell Me About It</button>
  </form>
</div>
{% endblock %}

{% block body %}
{{super()}}
<script type="text/javascript">
  var player_prefetch_url = '{{ url_for('api_list_players') }}';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.min.js"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>
{% endblock %}
